<a href="https://colab.research.google.com/github/kandgesid/Data-Science-and-ML-projects/blob/master/Kannada_mnist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/Kannada-MNIST/Dig-MNIST.csv
/kaggle/input/Kannada-MNIST/train.csv
/kaggle/input/Kannada-MNIST/sample_submission.csv
/kaggle/input/Kannada-MNIST/test.csv

In [ ]:
train = pd.read_csv("/kaggle/input/Kannada-MNIST/train.csv")
test = pd.read_csv("/kaggle/input/Kannada-MNIST/test.csv")

In [ ]:
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
test.head()

,id,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
train["label"].value_counts()

9    6000
8    6000
7    6000
6    6000
5    6000
4    6000
3    6000
2    6000
1    6000
0    6000
Name: label, dtype: int64

In [ ]:
import tensorflow as tf
x = train.drop("label", axis = 1)
y = train.label
y = tf.keras.utils.to_categorical(y)
y

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]], dtype=float32)

In [ ]:
copy_x = x.copy()
copy_test = test.copy()

In [ ]:
test = test.drop("id", axis = 1)

In [ ]:
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# reshape and normalize the both train and test dataset
x = x.values.reshape(-1, 28, 28, 1)

In [ ]:
test = test.values.reshape(-1, 28, 28, 1)

In [ ]:
x = x/255
test = test/255

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.85,random_state=10)

In [ ]:
model = tf.keras.models.Sequential()

In [ ]:
# adding 1 CNN layer

model.add(tf.keras.layers.Conv2D(filters=64, kernel_size=3, padding="same", input_shape=[28, 28, 1]))
model.add(tf.keras.layers.BatchNormalization(momentum=0.5, epsilon=1e-5, gamma_initializer="uniform"))
model.add( tf.keras.layers.LeakyReLU(alpha=0.1))
# adding 2 CNN layer

model.add(tf.keras.layers.Conv2D(filters=64, kernel_size=3, padding="same"))
model.add(tf.keras.layers.BatchNormalization(momentum=0.5, epsilon=1e-5, gamma_initializer="uniform"))
model.add( tf.keras.layers.LeakyReLU(alpha=0.1))

model.add(tf.keras.layers.MaxPool2D(pool_size=2, strides=2))
model.add(tf.keras.layers.Dropout(0.2))

# adding 3 CNN layer

model.add(tf.keras.layers.Conv2D(128, (3,3), padding='same'))
model.add(tf.keras.layers.BatchNormalization(momentum=0.2, epsilon=1e-5, gamma_initializer="uniform"))
model.add( tf.keras.layers.LeakyReLU(alpha=0.1))

# adding 4 CNN layer

model.add(tf.keras.layers.Conv2D(128, (3,3), padding='same'))
model.add(tf.keras.layers.BatchNormalization(momentum=0.1, epsilon=1e-5, gamma_initializer="uniform"))
    
model.add( tf.keras.layers.LeakyReLU(alpha=0.1))    
model.add(tf.keras.layers.MaxPooling2D(2,2))
model.add(tf.keras.layers.Dropout(0.2))    
    
# adding 5 CNN layer

model.add(tf.keras.layers.Conv2D(256, (3,3), padding='same'))
model.add(tf.keras.layers.BatchNormalization(momentum=0.2, epsilon=1e-5, gamma_initializer="uniform"))
model.add( tf.keras.layers.LeakyReLU(alpha=0.1))

# adding 6 CNN layer

model.add(tf.keras.layers.Conv2D(256, (3,3), padding='same'))
model.add(tf.keras.layers.BatchNormalization(momentum=0.1, epsilon=1e-5, gamma_initializer="uniform"))
model.add( tf.keras.layers.LeakyReLU(alpha=0.1))

model.add(tf.keras.layers.MaxPooling2D(2,2))
model.add(tf.keras.layers.Dropout(0.2))
    
# flattening layer
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(256))
model.add( tf.keras.layers.LeakyReLU(alpha=0.1))

model.add(tf.keras.layers.BatchNormalization())
model.add(tf.keras.layers.Dense(10, activation='softmax'))

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 28, 28, 64)        640
_________________________________________________________________
batch_normalization (BatchNo (None, 28, 28, 64)        256
_________________________________________________________________
leaky_re_lu (LeakyReLU)      (None, 28, 28, 64)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 28, 28, 64)        36928
_________________________________________________________________
batch_normalization_1 (Batch (None, 28, 28, 64)        256
_________________________________________________________________
leaky_re_lu_1 (LeakyReLU)    (None, 28, 28, 64)        0
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 14, 14, 64)        0
_________________________________________________________________
dropout (Dropout)            (None, 14, 14, 64)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 14, 14, 128)       73856
_________________________________________________________________
batch_normalization_2 (Batch (None, 14, 14, 128)       512
_________________________________________________________________
leaky_re_lu_2 (LeakyReLU)    (None, 14, 14, 128)       0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 14, 14, 128)       147584
_________________________________________________________________
batch_normalization_3 (Batch (None, 14, 14, 128)       512
_________________________________________________________________
leaky_re_lu_3 (LeakyReLU)    (None, 14, 14, 128)       0
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 7, 7, 128)         0
_________________________________________________________________
dropout_1 (Dropout)          (None, 7, 7, 128)         0
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 7, 7, 256)         295168
_________________________________________________________________
batch_normalization_4 (Batch (None, 7, 7, 256)         1024
_________________________________________________________________
leaky_re_lu_4 (LeakyReLU)    (None, 7, 7, 256)         0
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 7, 7, 256)         590080
_________________________________________________________________
batch_normalization_5 (Batch (None, 7, 7, 256)         1024
_________________________________________________________________
leaky_re_lu_5 (LeakyReLU)    (None, 7, 7, 256)         0
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 3, 3, 256)         0
_________________________________________________________________
dropout_2 (Dropout)          (None, 3, 3, 256)         0
_________________________________________________________________
flatten (Flatten)            (None, 2304)              0
_________________________________________________________________
dense (Dense)                (None, 256)               590080
_________________________________________________________________
leaky_re_lu_6 (LeakyReLU)    (None, 256)               0
_________________________________________________________________
batch_normalization_6 (Batch (None, 256)               1024
_________________________________________________________________
dense_1 (Dense)              (None, 10)                2570
=================================================================
Total params: 1,741,514
Trainable params: 1,739,210
Non-trainable params: 2,304
_________________________________________________________________

In [ ]:
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=['accuracy'])

In [ ]:
history = model.fit(x_train,y_train,batch_size=512,epochs=10,validation_data=[x_test,y_test])

Train on 51000 samples, validate on 9000 samples
Epoch 1/10
51000/51000 [==============================] - 549s 11ms/sample - loss: 0.1144 - accuracy: 0.9647 - val_loss: 0.7970 - val_accuracy: 0.9902
Epoch 2/10
51000/51000 [==============================] - 546s 11ms/sample - loss: 0.0233 - accuracy: 0.9928 - val_loss: 0.2622 - val_accuracy: 0.9944
Epoch 3/10
51000/51000 [==============================] - 545s 11ms/sample - loss: 0.0167 - accuracy: 0.9948 - val_loss: 0.0648 - val_accuracy: 0.9913
Epoch 4/10
51000/51000 [==============================] - 544s 11ms/sample - loss: 0.0144 - accuracy: 0.9957 - val_loss: 0.0321 - val_accuracy: 0.9923
Epoch 5/10
51000/51000 [==============================] - 543s 11ms/sample - loss: 0.0115 - accuracy: 0.9962 - val_loss: 0.0160 - val_accuracy: 0.9956
Epoch 6/10
51000/51000 [==============================] - 547s 11ms/sample - loss: 0.0105 - accuracy: 0.9967 - val_loss: 0.0167 - val_accuracy: 0.9952
Epoch 7/10
51000/51000 [==============================] - 543s 11ms/sample - loss: 0.0099 - accuracy: 0.9968 - val_loss: 0.0161 - val_accuracy: 0.9963
Epoch 8/10
51000/51000 [==============================] - 543s 11ms/sample - loss: 0.0067 - accuracy: 0.9982 - val_loss: 0.0114 - val_accuracy: 0.9967
Epoch 9/10
51000/51000 [==============================] - 544s 11ms/sample - loss: 0.0055 - accuracy: 0.9982 - val_loss: 0.0160 - val_accuracy: 0.9954
Epoch 10/10
51000/51000 [==============================] - 542s 11ms/sample - loss: 0.0059 - accuracy: 0.9980 - val_loss: 0.0142 - val_accuracy: 0.9958

In [ ]:
predictions = model.predict_classes(test)

In [ ]:
predictions

In [ ]:
sample_submission = pd.read_csv("../input/Kannada-MNIST/sample_submission.csv")
sample_submission['label'] = pd.Series(predictions)
sample_submission.head()

   id  label
0   0      3
1   1      0
2   2      2
3   3      6
4   4      7